@media only screen and (max-width:720px){
	.wrapper{
		width:814px;
	}

header {
	background: url(Path.jpg) no-repeat center top/cover;
	height: 375px;
	width: 814px;
}

body{
	margin: 0;
	background:#fff;
}

.container1 {
	width: 814px;
	height: 1300px;
	border:  10px solid transparent;
	margin: 0 auto;
}

div{
	box-sizing:  border-box;}

.titles1{
	color:#fff;
	font-size:50px;
	text-align: center;
	margin-top: 67px;
	font-family: 'Roboto';
	font-weight: 300;
}

.p1{color:#fff;
	text-align: center;
	font-size:15px;
	font-family: 'Roboto';
	font-weight: 400;
	margin:33px 25px 107px 30px;
}

body {
 font-family: 'Roboto';
 font-size: 100%;
}

.navigation{
	margin-left: 80px;
	margin-bottom: 45px;
}

.navigation li{
	list-style-type: none;	
	display: inline-block;			
}

.navigation a{
	color: #3f4244;
	font-family: 'Roboto';
	font-weight: 600;
	font-size:20px;
	text-decoration: none;
}

a1{
	color: #fff;
	font-family: 'Roboto';
	font-weight: 600;
	font-size:15px;
	text-decoration: none;
}
.tab1{
	margin-right: 71px;
}
.tab2{
	margin-right: 73px;
}
.tab3{
	margin-right: 50px;
}
.image1{
	opacity: 0;
	left: 375px;
	position: absolute;
	margin-bottom:0px;
}
.image2{
	opacity: 0;
	left: 776px;
	position: absolute;
	margin-bottom:0px ;
}

.image3{
	opacity: 0;
	width: 370px;
	height: 240px;
	left: 1177px;
	position: absolute;
	margin-bottom:0px;
}

.image4{
	opacity: 0;
	top: 762px;
	left: 375px;
	position: absolute;
	margin-bottom:0px ;

}
.image5{
	opacity: 0;
	top: 762px;
	left: 776px;
	position: absolute;
	margin-bottom:0px ;
}

.image6{
	opacity: 0;
	top: 762px;
	left: 1177px;
	position: absolute;
	margin-bottom:0px;
}
.parent > div {
	opacity: 0;
    background: #fff;
    float: left;
    width: 370px;
    height: 130px;
    margin-top: 240px;
    margin-right: 41px;
}

.parent > div:last-child {
	opacity: 0;
    margin-right: -200px;
}

.parent > div {
	opacity: 0;
    background: #fff;
    float: left;
    width: 370px;
    margin-left: -10px;
    border: 1px solid #fff;
}
.k1{
	opacity: 0;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	font-size:15px;
	color: #3f4244;
	padding-bottom: 7px;
}
.text-block{
	opacity: 0;
	font-family: 'Roboto';
	font-size:13px;
	font-weight: 500;
	color: #929ba0;
	text-align: center;
	padding: 0px 79px 0px 73px;
}

.parent2 > div {
	opacity: 0;
    background: #fff;
    float: left;
    width: 370px;
    height: 130px;
    margin-top: 270px;
    margin-right: 41px;
}

.parent2 > div:last-child {
	opacity: 0;
    margin-right: -200px;
}

.parent2 > div {
	opacity: 0;
    background: #fff;
    float: left;
    width: 370px;
    margin-left: -10px;
    border: 1px solid #fff;
}
.icon{
	opacity: 0;
	top: 1585px;
	left: 936px;
	position: absolute;	
}

.container2 {
	width: 814px;
	height: 1340px;
	border:  10px solid transparent;
	margin-left:0px;	
}
.section1 {
	background: url(img/Path2.jpg) no-repeat center top/cover;
	height: 1340px;
	width: 814px;	
}

.img-item1 {
  position: absolute;
  left: 375px;
  top: 600px;
  bottom: 0;
  right: 0;
  margin: auto;
 }

.img-item2 {

  position: absolute;
  left: 385px;
  top: 1100px;
  bottom: 0;
  right: 0;
  margin: auto;
  }

.img-item3 {
  
  position: absolute;
  left: 375px;
  top: 1600px;
  bottom: 0;
  right: 0;
  margin: auto; 
}

.img-item4 {
  position: absolute;
  left: 375px;
  top: 2100px;
  bottom: 0;
  right: 0;
  margin: auto;
  }

.caption1 { 
	position: absolute;
	margin-top: 275px;
	margin-left:-50px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;}

.caption2 { 
	position: absolute;
	white-space:nowrap;
	margin-top: 530px;
	margin-left:-95px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption3 { 
	position: absolute;
	margin-top: 780px;
	margin-left:-50px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption4 { 
	position: absolute;
	margin-top: 1030px;
	margin-left:-40px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption5 { 
	white-space:nowrap;
	position: absolute;
	margin-top: 320px;
	margin-left:-115px;
	font-size: 23px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;}

.caption6 {
	white-space:nowrap;
	position: absolute;
	margin-top: 575px;
	margin-left:-80px;
	font-size: 23px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}
.caption7 { 
	white-space:nowrap;
	position: absolute;
	margin-top: 825px;
	margin-left:-133px;
	font-size: 23px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}
.caption8 { 
	white-space:nowrap;
	position: absolute;
	margin-top: 1078px;
	margin-left:-83px;
	font-size: 23px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}

.section2 {
	height: 730px;
	width: 1920px;	
}

.container3 {
	opacity: 0;
	width: 814px;
	height: 730px;
	border:  10px solid transparent;
	margin-left:375px;	
}

.titles2{
	color:#3f4244;
	font-size:40px;
	text-align: center;
	margin-top: 59px;
	font-family: 'Roboto';
	font-weight: 400;
}

.p2{	
	color:#929ba0;
	text-align: center;
	font-size:13px;
	font-family: 'Roboto';
	font-weight: 400;
	margin:33px 25px 107px 30px;	
}

.image7 {
	display: inline-block;
	margin-left: -10px;
	margin-right: 33px;}

.image8 {
	display: inline-block;
	margin-left: -10px;
	margin-right: -10px;}

.parent3 > div:last-child {
	margin-top: -5px;
    margin-right: -200px;
}

.parent3 > div {
    background: #3fd2ce;
    float: left;
    width: 272px;
    height: 190px;
    margin: -5px 37px 0 -10px;
}

.k2{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	font-size:20px;
	color: #3f4244;
	margin-top: 32px;
}

h4{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 500;
	font-size:	13px;
	color: #fff;
	margin-top: -13px;
}

.text-block2{
	font-family: 'Roboto';
	font-size:15px;
	font-weight: 500;
	color: #3f4244;
	text-align: center;
	padding: 0 22px 0 18px;}
}
