header {
	background: url(Path.jpg) no-repeat center top/cover;
	height: 1300px;
	width: 1920px;
}

body{
	margin: 0;
	background:#fff;
}

.container1 {
	width: 1170px;
	height: 1300px;
	border:  10px solid transparent;
	margin: 0 auto;
}
div{
	box-sizing:  border-box;}

.titles1{
	color:#fff;
	font-size:40px;
	text-align: center;
	margin-top: 67px;
	font-family: 'Roboto';
	font-weight: 300;

}

.p1{color:#fff;
	text-align: center;
	font-size:13px;
	font-family: 'Roboto';
	font-weight: 400;
	margin:33px 182px 107px 190px;
}

body {
 font-family: 'Roboto';
 font-size: 100%;
}

.navigation{
	margin-left: 296px;
	margin-bottom: 45px;
}

.navigation li{
	list-style-type: none;	
	display: inline-block;			
}

.navigation a{
	color: #3f4244;
	font-family: 'Roboto';
	font-weight: 600;
	font-size:15px;
	text-decoration: none;
}
a1{
	color: #fff;
	font-family: 'Roboto';
	font-weight: 600;
	font-size:15px;
	text-decoration: none;
}
.tab1{
	margin-right: 71px;
}
.tab2{
	margin-right: 73px;
}
.tab3{
	margin-right: 50px;
}

.image1{
	left: 375px;
	position: absolute;
	margin-bottom:0px;
}
.image2{
	left: 776px;
	position: absolute;
	margin-bottom:0px ;
}

.image3{
	left: 1177px;
	position: absolute;
	margin-bottom:0px;
}

.image4{
	top: 762px;
	left: 375px;
	position: absolute;
	margin-bottom:0px ;

}
.image5{
	top: 762px;
	left: 776px;
	position: absolute;
	margin-bottom:0px ;
}

.image6{
	top: 762px;
	left: 1177px;
	position: absolute;
	margin-bottom:0px;
}
.parent > div {
    background: #fff;
    float: left;
    width: 370px;
    height: 130px;
    margin-top: 240px;
    margin-right: 41px;
}

.parent > div:last-child {
    margin-right: -200px;
}

.parent > div {
    background: #fff;
    float: left;
    width: 370px;
    margin-left: -10px;
    border: 1px solid #fff;
}
.k1{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	font-size:15px;
	color: #3f4244;
	padding-bottom: 7px;
}
.text-block{
	font-family: 'Roboto';
	font-size:13px;
	font-weight: 500;
	color: #929ba0;
	text-align: center;
	padding: 0px 79px 0px 73px;
}

.parent2 > div {
    background: #fff;
    float: left;
    width: 370px;
    height: 130px;
    margin-top: 270px;
    margin-right: 41px;
}

.parent2 > div:last-child {
    margin-right: -200px;
}

.parent2 > div {
    background: #fff;
    float: left;
    width: 370px;
    margin-left: -10px;
    border: 1px solid #fff;
}
.icon{
	top: 1185px;
	left: 936px;
	position: absolute;
	
}
.container2 {
	width: 1170px;
	height: 340px;
	border:  10px solid transparent;
	margin-left:375px;	
}
.section1 {
	background: url(img/Path2.jpg) no-repeat center top/cover;
	height: 340px;
	width: 1920px;	
}

.img-item1 {
  margin-bottom: 29px;
  display: inline-block;
  width: 67px;
  height: 58px;
  margin: 71px 247px 0 102px;
 }

.img-item2 {
  margin-bottom: 29px;
  display: inline-block;
  width: 42px;
  height: 64px;
  margin-top: 71px;
  margin-right: 246px;}

.img-item3 {
  margin-bottom: 29px;
  display: inline-block;
  width: 64px;
  height: 65px;
  margin-top: 71px;
  margin-right: 222px;
}
.img-item4 {
  margin-bottom: 29px;
  display: inline-block;
  width: 64px;
  height: 66px;
  margin-top: 71px;
 
}
.caption1 { 
	margin-left:91px;
	font-size: 40px;
	display: inline-block;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;}
.caption2 { 
	display: inline-block;
	margin-left:169px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption3 { 
	display: inline-block;
	margin-left:162px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption4 { 
	display: inline-block;
	margin-left:214px;
	font-size: 40px;
	color: #fff;
	font-family: 'Roboto';
	font-weight:400;
	margin-bottom:19px;
}
.caption5 { 
	margin-left:63px;
	font-size: 13px;
	display: inline-block;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;}
.caption6 { 
	display: inline-block;
	margin-left:189px;
	font-size: 13px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}
.caption7 { 
	display: inline-block;
	margin-left:173px;
	font-size: 13px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}
.caption8 { 
	display: inline-block;
	margin-left:173px;
	font-size: 13px;
	color: #10cab7;
	font-family: 'Roboto';
	font-weight:400;
}

.section2 {
	height: 730px;
	width: 1920px;	
}

.container3 {
	width: 1170px;
	height: 730px;
	border:  10px solid transparent;
	margin-left:375px;	
}

.titles2{
	color:#3f4244;
	font-size:40px;
	text-align: center;
	margin-top: 59px;
	font-family: 'Roboto';
	font-weight: 400;

}

.p2{	
	color:#929ba0;
	text-align: center;
	font-size:13px;
	font-family: 'Roboto';
	font-weight: 400;
	margin: 34px 182px 100px 190px;
}

.image7 {
	display: inline-block;
	margin-left: -10px;
	margin-right: 33px;}
.image8 {
	display: inline-block;
	margin-left: -10px;
	margin-right: -10px;}


.parent3 > div:last-child {
	margin-top: -5px;
    margin-right: -200px;
}

.parent3 > div {
    background: #3fd2ce;
    float: left;
    width: 272px;
    height: 190px;
    margin: -5px 37px 0 -10px;
}

.k2{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	font-size:20px;
	color: #3f4244;
	margin-top: 32px;
}

h4{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 500;
	font-size:	13px;
	color: #fff;
	margin-top: -13px;
}

.text-block2{
	font-family: 'Roboto';
	font-size:15px;
	font-weight: 500;
	color: #3f4244;
	text-align: center;
	padding: 0 22px 0 18px;
}


